img {
    width: 200px;
    height: 200px;
}

h3 {
    /* position: absolute; */
    top: 90px;
    left: 800px;
}

#courseName {
    position: absolute;
    top: 30px;
    left: 100px;

    width: 800px;
    height: 200px;

    background-color: lightgreen;
}

#logo {
    position: absolute;
    top:30px;
    left:900px;

    height:200px;
    width: 200px;

    background-color: lightgreen;
}

#descript {
    position: absolute;
    top: 260px;
    left: 100px;

    width: 1000px;
    height: 150px;

    background-color: lightcoral;
}

#courseGuidlines {
    position: absolute;
    top: 440px;
    left: 100px;

    height: 670px;
    width: 1000px;

    background-color: lightpink;
}

#classes {
    position: absolute;
    top: 1140px;
    left: 100px;

    height: 500px;
    width: 1000px;

    background-color: gold;
}

table {
    position: absolute;
    border: 5px;
    border-style: solid;
    height: 380px;
    width: 1000px;
}

td{
    border: 3px;
    border-style: solid;
}

#references {
    position: absolute;
    top: 1670px;
    left: 100px;

    height: 160px;
    width: 1000px;

    background-color: lightslategrey;
}

.container {
    padding: 5px;
}